@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{ /*ESCOPO GLOBAL PARA MEXER NAS CORES DE UMA VEZ SÓ!*/
    --cor-primaria: #0F1035;
    --cor-secundaria: #DCF2F1;
    --cor-terciaria: #7FC7D9;
    --cor-hover: #365486;

    --fonte-primaria: "Krona One", sans-serif;
    --fonte-segundaria: "Montserrat", sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    /* height: 100vh; */
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.destaque-do-titulo{
    color: var(--cor-terciaria);
}

.apresentacao{
    padding: 8% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

span{
    font-weight: bold;
    color: var(--cor-terciaria);
    border: 2px solid var(--cor-secundaria);
    padding: 1px;
}

.apresentacao__conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo{
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
}

.cabecalho{
    padding: 2% 0 0 15%;
}

.cabecalho__menu{
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link{
    font-family: var(--fonte-segundaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none; /*Tirar o sublinhado do Menu ou no caso Cabeçalho*/
}

.apresentacao__conteudo__texto{
    font-size: 1.5rem;
    font-weight: 400;
    font-family: var(--fonte-segundaria);
}

.apresentacao__links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao__links__subtitulo{
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1.25rem;
}

.apresentacao__links__navegacao{
    /* background-color: #22D4FD; */ /*PARA COMENTAR ATALHO CTRL + K + C*/
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 50%;
    text-align: center;
    border: 2px dashed var(--cor-terciaria);
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--fonte-segundaria);
}

.apresentacao__links__navegacao:hover{
    background-color: var(--cor-hover);
    border: 2px dashed var(--cor-secundaria);
    /* padding: 3.5%; */
    width: 378px;
}

.apresentacao__imagem{
    width: 50%;
}

.rodape{
    /* display: flex;
    flex-direction: column; */
    padding: 24px;
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    text-align: center;
    font-family: var(--fonte-segundaria);
    font-size: 1.5rem;
    font-weight: 400;
}

@media (max-width: 1200px){  /*Abaixo desse tamanho de 1200px de tela será usado os estilos dentro das chaves*/

    .cabecalho{
        padding: 10%;
    }

    .cabecalho__menu{
        justify-content: center;
    }

    .apresentacao{
        flex-direction: column-reverse;
        padding: 5%
    }

    .apresentacao__conteudo{
        width: auto;
    }
}